body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.esimene, .teine {
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color:rgb(72, 199, 249);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: monospace;
    font-weight: bolder;
    color: beige;
    border-radius: 10px;
    font-size: 30px;
}

.esimeneTeineBox { white-space: nowrap; padding-top: 4px;}

.esimeneVasak, .esimeneParem {
    display:inline-block;
}

.teineVasak, .teineParem {
    display:inline-block;
}

/*Muudan päise ilusamaks */
.header {
    padding: 5px;
    text-align: center;
    background: #48c7f9;
    font-family: monospace;
    font-weight: bolder;
    color: beige;
}
/*Muudan päise suurust*/
.header h1 {
    font-size: 70px;
    margin-bottom: 0px;
}

/* Navigatsiooni riba */
.navbar {
  overflow: hidden;
  background-color: #333;   
}

/* Navigatsiooni rea lingid */
.navbar a {
  float: left;
  display: block;
  color: beige;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Paremale joondatud link */
.navbar a.right {
  float: right;
}

/* Muuda värvi hõljutamisel */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#flashcard-container {
  width:49%;
  perspective: 1000px; /* Define perspective to enable 3D space for children */
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top:4px;
  justify-content: center;
}
.flashcard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Preserve 3D space for children */
  transition: transform 0.5s; /* Define transition for smooth rotation */
}
.flashcard-front,
.flashcard-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
  padding-top: 100px;
  padding-bottom: 100px;
}
.flashcard-front {
  background-color:#48c7f9;
  border:solid #333;
  z-index: 2; /* Bring front of card to front */
}
.flashcard-back {
  border:solid #333;
  background-color:white;
  color:black;
  transform: rotateY(180deg); /* Rotate back of card by 180 degrees */
  z-index: 1; /* Send back of card to back */
}
.flashcard.flipped {
  /* Rotate flashcard when flipped class is added */
  transform: rotateY(180deg);
}

#pealis {
  margin-right: 20px;
}

.header p {
  font-size: 20px;
  position: relative; top: -10px;
}

#alustaNupp, #sisestaNupp {
  width: 50%;
  background-color: #48c7f9;
  border:none;
  border-radius:10px;
  color: beige;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  font-family: monospace;
  font-weight: bolder;
}

#nupud { white-space: nowrap; padding-top: 4px;}

#keeraNupp {
  white-space: nowrap; 
  width: 50%;
  background-color: #48c7f9;
  border:none;
  border-radius:10px;
  color: beige;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  font-family: monospace;
  font-weight: bolder;
  margin-left: 25%;
  margin-top: -12px;

}

